[submodule "3rdparty/alsa_lib/alsa-lib"]
	path = 3rdparty/alsa_lib/alsa-lib
	url = https://github.com/DangNgoHai04/alsa-lib.git
[submodule "3rdparty/curl/curl"]
	path = 3rdparty/curl/curl
	url = https://github.com/DangNgoHai04/curl.git
[submodule "3rdparty/ffmpeg/ffmpeg"]
	path = 3rdparty/ffmpeg/ffmpeg
	url = https://github.com/DangNgoHai04/ffmpeg.git
[submodule "3rdparty/flatbuffers/flatbuffers"]
	path = 3rdparty/flatbuffers/flatbuffers
	url = https://github.com/DangNgoHai04/flatbuffers.git
[submodule "3rdparty/glog/glog"]
	path = 3rdparty/glog/glog
	url = https://github.com/DangNgoHai04/glog.git
[submodule "3rdparty/json-c/json-c"]
	path = 3rdparty/json-c/json-c
	url = https://github.com/DangNgoHai04/json-c.git
[submodule "3rdparty/libwebsockets/libwebsockets"]
	path = 3rdparty/libwebsockets/libwebsockets
	url = https://github.com/DangNgoHai04/libwebsockets.git
[submodule "3rdparty/live/live555"]
	path = 3rdparty/live/live555
	url = https://github.com/DangNgoHai04/live555.git
[submodule "3rdparty/miniz/miniz"]
	path = 3rdparty/miniz/miniz
	url = https://github.com/DangNgoHai04/miniz.git
[submodule "3rdparty/nanomsg/nanomsg"]
	path = 3rdparty/nanomsg/nanomsg
	url = https://github.com/DangNgoHai04/nanomsg.git
[submodule "3rdparty/opencv/opencv"]
	path = 3rdparty/opencv/opencv
	url = https://github.com/DangNgoHai04/opencv.git
[submodule "3rdparty/opencv4.5/opencv"]
	path = 3rdparty/opencv4.5/opencv
	url = https://github.com/DangNgoHai04/opencv.git
[submodule "3rdparty/openssl/openssl"]
	path = 3rdparty/openssl/openssl
	url = https://github.com/DangNgoHai04/openssl.git
[submodule "3rdparty/openssl3.0/openssl"]
	path = 3rdparty/openssl3.0/openssl
	url = https://github.com/DangNgoHai04/openssl.git
[submodule "3rdparty/sqlite/sqlite"]
	path = 3rdparty/sqlite/sqlite
	url = https://github.com/DangNgoHai04/sqlite.git
[submodule "3rdparty/uv/uv"]
	path = 3rdparty/uv/uv
	url = https://github.com/DangNgoHai04/uv.git
[submodule "3rdparty/zlib/zlib"]
	path = 3rdparty/zlib/zlib
	url = https://github.com/DangNgoHai04/zlib.git
[submodule "component/isp"]
	path = component/isp
	url = https://github.com/DangNgoHai04/SensorSupportList
