[submodule "3rdparty/alsa_lib/alsa-lib"]
	path = 3rdparty/alsa_lib/alsa-lib
	url = https://github.com/DangNgoHai04/alsa-lib.git
[submodule "3rdparty/curl/curl"]
	path = 3rdparty/curl/curl
	url = https://github.com/DangNgoHai04/curl.git
